
<div style="display:flex" id="header_wrapper" class="p-0">
    <h2 class="text-white p-5 " style="margin-top: 10px; margin-left: -18px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">FACEBOOK</h2>
    <a href="#" class="fa fa-facebook"></a>
    
    
    <div id="header">

        <form>
            <div class="mt-5">
                <li>Email or Phone<br><input type="text" name="email"></li>
                <li class="text-white">Password<br><input type="password" name="password"><br><a href="#">Forgotten account?</a></li>
                <li><button class="btn btn-sm btn-primary" style="margin-top: 20px;" routerLink="/users">Login</button></li>
            </div>
        </form>

    </div>
</div>

<div id="wrapper">

    <div id="div1">
         <img style="margin-left: -94px;" src="/assets/images/fb.png" alt="" width="450px" height="450px" text-align="left">
    </div>

    <div id="div2">
        <h1>Create an account</h1>

        <li><input type="text" placeholder="First Name" id="Firstname"></li>
        <li><input type="text" placeholder="Sur Name" id="Sur Name"></li>
        <li><input type="text" placeholder="Mobile number or email"></li>
        <li><input type="password" placeholder="New password"></li>

        <p style="margin: 10px;">Birthday</p>

        <li>
            <select style="margin-right:5px;"><option>Day</option></select>
            <select style="margin-right:5px;"><option>Month</option></select>
            <select ><option>Year</option></select>
        </li><br><br>
        <div>
        <input style="margin-right:3px;font-size: large;" type="radio">Female <input style="margin-right:3px;font-size: large;" type="radio">Male
        </div><br><br>
        <button type="button" class="btn btn-primary" routerLink="/profile" >Create an account</button>
        <button type="button" style="margin-left: 10px;" routerLink="/albums" class="btn btn-secondary">View data</button>
          
    </div>

</div>

