
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#"><b>Facebook</b></a>
      <svg xmlns="http://www.w3.org/2000/svg" style="width:20px;" routerLink="/profile" viewBox="0 0 448 512"><path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0S96 57.3 96 128s57.3 128 128 128zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"/></svg>
    </div>
  </nav>
  <div class=" widthr row m-0 p-0" style="background-color:rgb(239, 235, 235) ;">
    <div class="  col-3 m-0 p-0">  
      <div class="conatiner p-4 pt-1 ">
        <div class=" divbox-1 ">
        </div> 
        <div class=" divbox ">
        </div>
      </div>
    </div>
    <div class="  col-3 m-0 p-0">
          <div class="conatiner p-4 pt-1 ">
          <div class=" divbox " style="background-color:#ea5f5f">
          </div>
          <div class=" divbox " style="background-color:#ea7226">
        </div>
        <div class=" divbox " style="background-color:#efed69">
        </div>
     
        </div>
    </div>
    <div class=" b col-6 m-0 p-0">
      <div class="conatiner p-4 pt-1 ">
        <div class=" divbox-3 ">
        </div>
        <div class="container display:flex ">
          <div class="row">
              <div class=" divbox-3-1" style="margin-left:20px">
              </div>
              <div class=" divbox-3-1" style="margin-left:50px" >
              </div>
              <div class=" divbox-3-1 " style="margin-left:50px">
              </div>
          </div>
        </div>
      </div>
       
        

    </div>

  </div>
